{% extends 'base.html' %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

    * {
        font-family: "Roboto Slab", sans-serif;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .label_case, .label_category {
        color: orange;
    }

    .caselist {
        position: relative;
        left: 25%;
    }

    
</style>

<div class="container" style="min-height:11vh;">
  <!-- на самом деле можно было обойтись и hero, но я обратился к inline-css -->
  <div class="addcase_block">
      <h1 class="caselist">Список дел</h1>
      <form action="" method="post">
          {% csrf_token %}
          <!-- csrf для базовой безопасности нашего приложения -->
          <div class="field has-text-centered" style="margin-bottom: 50px;">
              <label for="description" class="label_case">Введите дело</label>
              <div class="control">
               <input type="text" id="description" class="input" placeholder="Чем собираетесь заняться?"
               name="description" required style="width: 100%; height: 40px;">
           </div>
       </div>
       <div class="columns">
          <div class="column" style="width: 100%; margin-bottom: 50px; height: 40px;">
              <label for="category" class="label_category">Категории</label>
              <div class="control">
                  <div class="select">
                      <select id="category" class="select" name="category_select" required>
                          <!--поставишь такой required, и не надо пустые поляв бд валидизировать. Не повторять в продакшене-->
                          <option class="disabled" value="">Выберите категорию дела</option>
                          {% for category in categories %}
                          <option class="" value="{{ category.name }}" name="{{ category.name }}">
                          {{ category.name }}</option>
                          {% endfor %}
                      </select>
                  </div>
              </div>
          </div>
          <div class="column" style="margin-bottom: 50px;">
              <label for="dueDate" style="color: orange;">Выберите дату</label>
              <input type="date" id="dueDate" class="input calendar" name="date" required>
          </div>
      </div>
      <div class="column">
          <div class="field">
              <button class="button is-primary" name="Add" type="submit" style="background: orange; border: 2px solid orange; width: 200px; height: 50px; border-radius: 10px;">
                  <span class="icon is-small">
                      <i class="fa fa-plus"></i>
                  </span>
                  <span>Добавить задание</span>
              </button>
              <button class="button is-link" name="Delete" formnovalidate="" type="submit" style="background: red; border: 2px solid red; width: 200px; height: 50px; border-radius: 10px;">
                  <span class="icon is-small">
                      <i class="fas fa-trash-alt"></i>
                  </span>
                  <span>
                      Удалить дело
                  </span>
              </button>
          </div>
      </div>
      <div class="list is-hoverable">
          {% for todo in todos %}
          <!-- шаблонный язык django- for loop -->
          <div class="list-item">
              <label class="checkbox">
                  <input type="checkbox" class=" checkbox" name="checkedbox" value="{{ todo.id }}">
                  <span class="complete-">{{ todo.title }}</span>
              </label>
              <span class=" category-{{ todo.category }} has-text-info">({{ todo.category }})</span>
              <strong class="is-pulled-right"><i class="fa fa-calendar"></i>{{ todo.created }} -
              {{ todo.due_date }}</strong>
          </div>
          {% endfor %}
      </div>
  </form>
</div>
</div>
{% endblock %}